<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>SeoulAfterSchool</title>
		
	</head>
	<body>
		<table>
			<caption>Seoul<caption>
					<thead>
						<tr>
							<th></th>
							<th>Schoolname</th>
							<th>Location</th>
							<th>EmployType</th>
							<th>Url</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Num1</th>
							<td>name1</td>
							<td>loc1</td>
							<td>emp1</td>
							<td>url1</td>
						</tr>
					</tbody>
		</table>
	</body>
</html>
